* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat, sans-serif;
}

.app {
  background-image: url("./backgrounds/cold-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.4s ease;
}

.app-warm {
  background-image: url("./backgrounds/warm-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.4s ease;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 25px;
}

.search-box {
  width: 80%;
  margin: 15px auto;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 16px;
  margin-top: -15px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box .search-bar::placeholder {
  color: #313131;
}

.search-box .search-bar:focus {
  background-color: white;
}

.wrapper-box {
  width: 50%;
  margin: 75px auto;
  padding: 25px 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
}
.location-box .location {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}
.location-box .time-title {
  padding-top: 10px;
}

.weather-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  font-size: 60px;
  font-weight: 900;
}

.weather-box .weather-icon {
  padding-left: 10px;
  display: flex;
  font-size: 80px;
}

.description-box {
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 5px;
}

.description-text {
  margin-top: -15px;
}

.humidity {
  margin-top: 15px;
  font-size: 30px;
}
